@import './base.css';

#app {
  width: 100%;
  margin: 0;
  font-weight: 400;
  color: #f1f1f1;
}

body {
  background-color: #191919;
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
